form{
width: 500px;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
}
h1{
    text-align: center;
}
input{
    margin: 10px;
    width:300px;
    border-radius: 3%;
}
button{
    color:white;
    background-color: blue;
    padding: 0px 10px 0px 10px;
    border-radius: 10%;
    width: 100px;
   
    
}